<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate</title>
</head>
<body>
    <header>   
        <h1>ESPE CHAT</h1>
    </header> 
    <main>
        <form action="#" method="post" class="card">
            <div class="input-group">
                <label for="username">Ingresa tu nombre de usuario</label>
                <input type="text" id="username"/>
            </div>
                <div class="button-container">
                    <button type="submit" class="btn btn-primary" id="login">
                        Entrar al chat
                    </button>
            </div>
        </form>
    </main>
    </body>
</html>